

.nav-bar {
    background-image: url("../assets/bg-home.webp");
    font-size: 30px;
    border: 1px solid black;
    text-decoration: none;
    
  }


  
  .nav-item {

    padding:20px;
    
 } 
 li .nav-item {
  text-decoration: none;
 }

  .logo {
    
    width: 200px;
    padding: 30px;

    border: 1px solid black;
  }
  
  .image-logo {
    height: 100px;
    width: 100px;
    border: 1px solid black;
  }